<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->

 

  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="RewriteRequestsToPublic" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
          </conditions>
          <action type="Rewrite" url="app/index.php/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
